
// 清除浮動
@mixin clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// scrollbar
// @mixin scrollbar( $bgcolor: #fc8116) { //959595
//     overflow-x: auto;
//     overflow-scrolling: touch;
//     -webkit-overflow-scrolling: touch;
//     &::-webkit-scrollbar {
//         -webkit-appearance: none;
//         width: 10px;
//         height: 12px;
//         background-color: #ffffff; //#ffffff
//     }
//     &::-webkit-scrollbar-track {
//         -webkit-border-radius: 6px;
//         border-radius: 6px;
//     }
//     &::-webkit-scrollbar-thumb {
//         -webkit-border-radius: 6px;
//         border-radius: 6px;
//         background: $bgcolor;
//     }
// }


@mixin scrollbar{
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-scrolling: touch;
    scrollbar-gutter: stable;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $border-color;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

// 讓 iOS裝置滑滾更順暢
// @mixin overflow-scroll {
//     overflow-y: auto;
//     overflow-scrolling: touch;
//     -webkit-overflow-scrolling: touch;
// }

// 溢出文字變"..."
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

// placeholder
@mixin placeholder( $color: #999, $color-h: #CCC) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &.placeholder {
        &::-webkit-input-placeholder {
            color: $color-h;
        }
        &::-moz-placeholder {
            color: $color-h;
        }
        &:-ms-input-placeholder {
            color: $color-h;
        }
        &:-moz-placeholder {
            color: $color-h;
        }
    }
}

// 輸入框預設
@mixin text-input($font-size,$line-height) {
    border: 1px solid $border-color;
    color: $text-primary;

    font-size: $font-size;
    line-height: $line-height;

    width: 220px;
    padding: 10px 12px;
    border-radius: 5px;
    transition: border .3s;
    &:focus{
        border: 1px solid $primary-color;
    }
    &::placeholder {
        color: $text-tertiary;
    }
}


@mixin btn($text-color,$bg-color,$border-color,$font-size,$line-height){
    color: $text-color;
    background: rgba($bg-color,1);
    border: 1px solid $border-color;
    font-size: $font-size;
    line-height: $line-height;

    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 14px 16px;
    min-width: 80px;

    transition: all .3s;
    svg{
        transition: all .3s;
    }
    &:hover,
    &.current{
        text-decoration: none;
        background: rgba($primary-color,.05);
        border: 1px solid $primary-color;
        color: $primary-color;
        svg{
            fill: $primary-color;
        }
    }
}










// 版型內容區域的最大預設寬度
@mixin layout-max-width($width) {
    max-width: $width; //1000px //1360
    margin: 0 auto;
}



